.arrow {
  position: relative;
  padding-right: 20px;
  color: #006ce7;

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    transform: rotate(45deg);
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: inherit;
    box-sizing: border-box;
    content: '';
  }

  &:before {
    @include absoluteCenterY();
    right: 1px;
    width: 15px;
    height: 2px;
    box-sizing: border-box;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: inherit;
    content: '';
  }

  &_revert {
    padding: 0 0 0 20px;

    &:after {
      right: auto;
      left: 0;
      transform: rotate(-135deg);
    }

    &:before {
      right: auto;
      left: 1px;
    }
  }
}
@media (min-width: $desktop) {
  .arrow {
    padding-right: 40px;

    &:after {
      width: 10px;
      height: 10px;
      margin-top: -5px;
      border-width: 2px 2px 0 0;
      transition: right .3s ease-in-out;
    }

    &:before {
      width: 29px;
      transition: right .3s ease-in-out;
    }

    &:hover {

      &:before { right: -4px }
      &:after { right: -5px }
    }

    &_revert {
      padding: 0 0 0 40px;

      &:before,
      &:after {
        transition: left .3s ease-in-out;
      }

      &:hover {

        &:before { left: -4px }
        &:after { left: -5px }
      }
    }
  }
}