.blog {
  padding: 30px 15px;
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.364;

  &__title {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    @include proximanova-semibold();
  }

  p {
    margin-bottom: 15px;
    @include proximanova-light();
  }

  &__pic {
    padding: 20px 0 40px;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  blockquote {
    display: block;
    position: relative;
    padding: 0 0 0 34px;
    margin: 0 0 40px 0;
    font-size: 20px;
    color: rgb(0, 108, 231);
    line-height: 1.333;

    &:before {
      position: absolute;
      top: 8px;
      left: 0;
      width: 5px;
      bottom: 9px;
      background-color: rgb(0, 108, 231);
      content: '';
    }
  }

  &__author {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 3px solid #f3f3f3;

    &-ava {
      display: block;
      position: relative;
      overflow: hidden;
      width: 97px;
      height: 97px;
      margin: 0 auto 20px;
      border-radius: 50%;

      img {
        @include absoluteCenter();
        width: 100%;
      }
    }

    &-info {

      dt {
        font-size: 18px;
        color: rgb(20, 23, 26);
        line-height: 1.2;
        @include proximanova-semibold();
      }

      dd {
        font-size: 14px;
        color: rgb(51, 51, 51);
        line-height: 1.364;
        @include proximanova-light();
      }
    }
  }

  &__comments {
    margin-bottom: 13px;
  }
}
@media (min-width: $phone-landscape) {
  .blog {

  }
}
@media (min-width: $tablet-portrait) {
  .blog {

  }
}
@media (min-width: $tablet-landscape) {
  .blog {

  }
}
@media (min-width: $desktop) {
  .blog {
    padding: 83px calc(50% - 400px);
    font-size: 22px;

    &__title {
      margin-bottom: 38px;
      font-size: 30px;
    }

    p {
      margin-bottom: 30px;
    }

    &__pic {
      padding: 44px 0 87px;
    }

    blockquote {
      padding: 0 0 0 34px;
      margin: 0 0 99px 0;
      font-size: 30px;
    }

    &__author {
      display: flex;
      align-items: center;
      padding-bottom: 48px;
      margin-bottom: 32px;

      &-ava {
        margin: 0;
      }

      &-info {
        width: calc(100% - 97px);
        padding: 0 40px 0 26px;

        dt {
          font-size: 26px;
        }

        dd {
          font-size: 22px;
        }
      }
    }

    a.blog__author {
      transition: opacity .3s ease-in-out;

      &:hover { opacity: .8 }
    }
  }
}