.btn,
a.btn,
button.btn {
  display: inline-block;
  min-width: 126px;
  padding: 14px 28px;
  text-align: center;
  border: 2px solid #83ba3a;
  border-radius: 27px;
  font-size: 14px;
  color: rgb(68, 70, 85);
  text-transform: uppercase;
  line-height: normal;
  transition: color .3s ease-in-out, background .3s ease-in-out;

  &:hover,
  &.active {
    color: #fff;
    background-color: #83ba3a;

    .btn__icon {

      svg { fill: #fff }
    }
  }

  &:active {
    background-color: #679130;
  }

  &_revert {
    color: #fff;
    background-color: #83ba3a;

    &:hover,
    &.active {
      color: rgb(68, 70, 85);
      background-color: #fff;
    }

    &:active {
      background-color: #fff;
    }
  }

  &_apply {
    display: inline-flex;
    align-items: center;
    height: 54px;
    width: 160px;
    padding-left: 41px;
    letter-spacing: 1.4px;
  }

  &_read-more {
    display: inline-flex;
    align-items: center;
    height: 54px;
    padding-left: 41px;
    letter-spacing: 1.4px;

    .btn__icon {
      transform: matrix(-1,0,0,1,0,0);
    }
  }

  &__icon {
    position: relative;
    top: 2px;
    margin-left: 16px;

    svg {
      width: 22px;
      height: 22px;
      fill: #83ba3a;
      transition: fill .3s ease-in-out;
    }
  }
}