@font-face {
  font-family: 'proximanova-semibold';
  src: url('../fonts/proximanova-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova-light';
  src: url('../fonts/proximanova-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova-regular';
  src: url('../fonts/proximanova-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova-bold';
  src: url('../fonts/proximanova-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}