.hero {
  padding: 80px 15px 40px;
  font-size: 20px;
  color: rgb(0, 0, 1);
  line-height: 1.2;
  text-align: center;
  background-color: #f7f7f7;
  font-family: 'Playfair Display', serif;
  font-weight: 400;

  &__subtitle {
    display: inline-block;
    position: relative;
    margin-bottom: 7px;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 1.462;

    &:before {
      @include absoluteCenterY();
      left: 0;
      width: 14px;
      height: 2px;
      background-color: #000;
      content: '';
    }
  }

  h2 {
    margin-bottom: 20px;
    font-size: 60px;
    color: rgb(0, 0, 1);
    font-weight: 700;
    line-height: 0.97;
  }

  p {
    max-width: 770px;
    margin: 0 auto 10px;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: $phone-landscape) {
  .hero {

  }
}
@media (min-width: $tablet-portrait) {
  .hero {
    padding: 40px calc(50% - 300px);
  }
}
@media (min-width: $tablet-landscape) {
  .hero {

  }
}
@media (min-width: $desktop) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 397px;
    padding: 62px calc(50% - 525px) 40px;
    font-size: 34px;

    h2 {
      margin-bottom: 20px;
      font-size: 66px;
    }

    p {

    }

    &_main {
      height: 860px;
      padding: 188px calc(50% - 525px) 40px;
      justify-content: flex-start;

      .hero__subtitle {
        padding-left: 48px;
        font-size: 26px;

        &:before {
          width: 28px;
          height: 3px;
        }
      }

      h2 {
        margin-bottom: 26px;
        font-size: 120px;
      }
    }

  }
}