.icons-preview {
  padding: 30px 15px;
  margin-bottom: 20px;

  &__title {
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
    color: rgb(0, 0, 1);
    line-height: 1.2;
  }

  &__item {
    padding-top: 40px;

    &:first-child { padding-top: 0 }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
@media (min-width: $phone-landscape) {
  .icons-preview {

  }
}
@media (min-width: $tablet-portrait) {
  .icons-preview {

  }
}
@media (min-width: $tablet-landscape) {
  .icons-preview {

  }
}
@media (min-width: $desktop) {
  .icons-preview {
    padding: 64px calc(50% - 510px);
    margin-bottom: 88px;

    &__title {
      margin-bottom: 48px;
      font-size: 28px;
    }

    &__item {
      padding-top: 122px;
    }
  }
}

