.pricing {
  padding: 30px 15px;

  &__card {
    padding: 40px 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.07);
    transition: background .3s ease-in-out;

    &:hover {
      background-color: #fbfbfb;
    }

    &-icon {
      margin-bottom: 13px;

      img {
        display: block;
        height: 97px;
        margin: 0 auto;
      }
    }

    &-title {
      display: block;
      font-size: 26px;
      color: rgb(21, 20, 20);
      line-height: 1.2;
      @include proximanova-regular();
    }

    &-price {
      position: relative;
      font-size: 80px;
      color: rgb(21, 20, 20);
      line-height: 1.2;
      @include proximanova-light();

      &:before {
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: 5px;
        font-size: 40px;
        color: inherit;
        content: '$';
      }
    }

    ul {
      margin-bottom: 30px;
      font-size: 19px;
      color: rgb(21, 20, 20);
      line-height: 1.684;

      li {
        margin-bottom: 1px;

        strong {
          @include proximanova-semibold();
        }
      }
    }

    .btn {
      padding: 11px 58px 8px;
    }
  }

  &__info {
    padding: 20px 30px;
    font-size: 18px;
    color: rgb(153, 153, 153);
    font-family: 'Open Sans', sans-serif;

    > img {
      max-width: 100%;
    }

    &-title {
      display: block;
      font-weight: 600;
      color: rgb(85, 85, 85);
      line-height: 1.3;
      margin-bottom: 12px;
    }

    ul {

      li {
        position: relative;
        margin-bottom: 7px;
        line-height: 1.75;

        &:before {
          position: absolute;
          top: 9px;
          left: -27px;
          width: 16px;
          height: 13px;
          background: url("../img/check.png");
          content: '';
        }
      }
    }
  }

  &__tooltips {
    display: none;
    vertical-align: top;
    position: relative;
    top: 6px;
    width: 18px;
    height: 18px;
    font-size: .8em;
    border-radius: 50%;
    background: #f2f2f2;
    color: #999999;
    text-align: center;
    line-height: 19px;
    cursor: pointer;

    span {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width:240px;
      bottom: 30px;
      left: 50%;
      margin-left: -120px;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #efefef;
      background: #f2f2f2;
      color: #666666;
      line-height: 16px;
      text-align: left;
      z-index: 3;
      transition: visibility .3s ease, opacity .3s ease;
      -webkit-transition: visibility .3s ease, opacity .3s ease;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-top: 8px solid #f2f2f2;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }
    }

    &:hover {

      span {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .pricing {

  }
}
@media (min-width: $tablet-portrait) {
  .pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: calc(50% - 15px);
    }

    &__info {
      width: 100%;
      padding: 20px 30px;
    }

    &__tooltips { display: inline-block }
  }
}
@media (min-width: $tablet-landscape) {
  .pricing {

  }
}
@media (min-width: $desktop) {
  .pricing {
    padding: 90px calc(50% - 610px) 57px calc(50% - 510px);

    &__card {
      width: 340px;
    }

    &__info {
      width: 350px;
      padding: 0 0 0 32px;

      .author {
        padding: 16px 0 14px;
        margin: 0 0 24px 6px;
      }

      > p {
        padding-left: 26px;
        letter-spacing: -.8px;
      }
    }
  }
}

