.site {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100vh;
  @include proximanova-regular();

  &:after {
    display: block;
    clear: both;
    width: 100%;
    height: 44px;
    content: '';
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px 15px;
    z-index: 2;
    transition: background .3s linear, box-shadow .3s linear, height .3s linear;

    &-wrap {
      display: flex;
      align-items: center;

      a,
      a:visited {
        font-size: 16px;
        color: rgb(0, 0, 0);
        transition: opacity .3s ease-in-out;
        @include proximanova-semibold();

        &:hover { opacity: .8 }
      }
    }

    &.hide {
      background-color: transparent;
      box-shadow: none;
      transform: translate(0,-100%);
      .tab-navigation {
        opacity: 0;
      }
    }

    &_fixed {
      height: 68px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
      transition: background .3s linear, box-shadow .3s linear, height .3s linear, transform .3s linear;

      .tab-navigation {
        opacity: 1;
        pointer-events: fill;
      }
    }

    &_white {

      .site__header-wrap {

        a,
        a:visited { color: #fff }
      }

      .menu-open {
        border-color: #fff;

        &:before {
          background-color: #fff;
        }
      }
    }
  }

  &__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44px;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: rgb(68, 68, 68);
    line-height: 1.2;
  }

  &__form {
    max-width: 352px;
    margin: 0 auto;
    text-align: center;

    input {
      width: 100%;
      height: 40px;
      margin: 0 0 15px;
      background: none;
      border: none;
      border-bottom: 4px solid #000;
      font-size: 14px;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      text-align: center;
      @include proximanova-regular();

      &::-webkit-input-placeholder {
        color: rgb(0, 0, 0);
      }
      &::-moz-placeholder {
        color: rgb(0, 0, 0);
      }
      &:-ms-input-placeholder {
        color: rgb(0, 0, 0);
      }
      &:-moz-placeholder {
        color: rgb(0, 0, 0);
      }
    }

    button[type=submit] {
      width: 100%;
      margin: 30px 0 0;
    }

    .btn {
      display: block;
    }
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

    &:after { height: 77px }

    &__header {
      padding: 42px calc(50% - 765px);

      &_fixed {
        padding-top: 0;
        padding-bottom: 0;
      }

      .logo {
        margin-left: 15px;
      }

      &-wrap {
        position: relative;
        top: -4px;
        padding-right: 15px;

        a,
        a:visited {
          font-size: 20px;
        }
      }
    }

    &__footer {
      height: 77px;
      padding: 29px;
      font-size: 16px;
    }

    &__form {

      input {
        height: 52px;
        margin: 0 auto 24px;
        font-size: 18px;
      }

      button[type=submit] {
        margin-top: 40px;
      }

      .validate-form__field {
        position: relative;
      }

      .validate-form__alert {
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        opacity: 0;
        text-align: center;
        font-size: 18px;
        color: rgb(153, 153, 153);
        line-height: 1.2;
        transition: opacity .3s ease-in-out;
        @include proximanova-light();

        &:before {
          padding-right: 12px;
          color: rgb(243, 12, 12);
          content: '!';
          @include proximanova-bold();
        }
      }

      .not-valid + .validate-form__alert {
        opacity: 1;
      }
    }
  }
}

