.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include absoluteCenterX();
    top: 0;
    width: 100%;
    max-width: 1530px;
    padding: 15px;
    z-index: 2;

    &-wrap {
      display: flex;
      align-items: center;

      a,
      a:visited {
        font-size: 16px;
        color: rgb(0, 0, 0);
        border-bottom: 4px solid transparent;
        transition: border .3s ease-in-out;
        @include proximanova-semibold();

        &:hover { border-bottom-color: #000 }
      }
    }
  }

  &__content {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__footer {
    flex: 0 0 auto;
    text-align: center;
    width: 100%;
    padding: 44px;
    font-size: 23px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: rgb(68, 68, 68);
    line-height: 1.2;
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

    &__header {

      &-wrap {

        a,
        a:visited {
          font-size: 28.726px;
        }
      }
    }
  }
}

