.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100vh;
  @include proximanova-regular();

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include absoluteCenterX();
    top: 0;
    width: 100%;
    max-width: 1530px;
    padding: 15px;
    z-index: 2;

    &-wrap {
      display: flex;
      align-items: center;

      a,
      a:visited {
        font-size: 16px;
        color: rgb(0, 0, 0);
        transition: opacity .3s ease-in-out;
        @include proximanova-semibold();

        &:hover { opacity: .8 }
      }
    }

    &_white {

      .site__header-wrap {

        a,
        a:visited { color: #fff }
      }

      .menu-open {
        border-color: #fff;

        &:before {
          background-color: #fff;
        }
      }
    }
  }

  &__content {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__footer {
    flex: 0 0 auto;
    text-align: center;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: rgb(68, 68, 68);
    line-height: 1.2;
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

    &__header {
      padding: 45px 15px;

      &-wrap {
        position: relative;
        top: -4px;

        a,
        a:visited {
          font-size: 20px;
        }
      }
    }

    &__footer {
      padding: 44px;
      font-size: 16px;
    }
  }
}

