.tab {
  position: relative;
  z-index: 1;

  &__controls {
    display: flex;
    justify-content: center;
    position: relative;

    &-item {
      margin: 0 18px 18px;
      z-index: 2;
      cursor: pointer;
      text-align: center;
      border-bottom: 4px solid transparent;
      transition: border .3s ease-in-out;
      font-size: 31.599px;
      color: rgb(21, 20, 20);
      text-transform: uppercase;
      line-height: 1.2;
      font-family: 'Playfair Display', serif;
      font-weight: 700;

      &.active {
        border-bottom-color: #000;
      }

      &:hover {
        border-bottom-color: #000;
      }
    }
  }

  &__content {
    overflow: hidden;
    position: relative;
    transition: height .3s ease-in-out;

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px;
      pointer-events: none;
      opacity: 0;
      transition: opacity .3s ease-in-out;

      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }

      &.active {
        opacity: 1;
        pointer-events: fill;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .tab {

  }
}
@media (min-width: $tablet-portrait) {
  .tab {

  }
}
@media (min-width: $tablet-landscape) {
  .tab {

    &__controls {

      &-item {

      }
    }

    &__content {
      overflow: hidden;
      position: relative;
      transition: height .3s ease-in-out;

      &-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        font-size: 22px;
        color: rgb(68, 70, 85);
        line-height: 1.273;

        &.active {
          opacity: 1;
          pointer-events: fill;
        }
      }
    }
  }
}
@media (min-width: $desktop) {
  .tab {

    &__controls {

      &-item {

      }
    }

    &__content {
    }
  }
}