.testimonials {
  padding: 40px 30px;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  background-color: #000;
  color: #fff;

  .swiper-container {
    max-width: 760px;
    margin: 0 auto;
  }

  &__article {
    position: relative;
    margin-bottom: 30px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 1.267;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 188px;
      height: 150px;
      z-index: 0;
      background: url("../img/article.png") no-repeat center;
      background-size: contain;
      content: '';
    }
  }

  &__author {
    display: flex;
    align-items: center;

    &-ava {
      position: relative;
      overflow: hidden;
      width: 122px;
      height: 122px;
      border-radius: 50%;

      img {
        @include absoluteCenter();
        width: 100%;
      }
    }

    &-info {
      width: calc(100% - 122px);
      padding-left: 10px;

      dt {
        font-size: 23.386px;
        color: rgb(255, 255, 255);
        line-height: 1.25;
        font-family: 'Playfair Display', serif;
        font-weight: 900;
      }

      dd {
        font-size: 15.591px;
        color: rgba(255, 255, 255, 0.502);
        line-height: 1.875;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .testimonials {

  }
}
@media (min-width: $tablet-portrait) {
  .testimonials {

  }
}
@media (min-width: $tablet-landscape) {
  .testimonials {

  }
}
@media (min-width: $desktop) {
  .testimonials {

  }
}

